@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    background: #feffFE;
    -webkit-font-smoothing: antialiased;
  }

  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  }

  ::selection {
    background: #e5fcf5;
    color: #000080;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    scrollbar-width: none;
  }
}